
*.pod
/Build
/Build.bat
/Charmony.pm
/MYMETA.json
/MYMETA.yml
/Makefile
/_build/
/autogen/
/blib/
/charmonize.c
/charmonizer
/charmonizer.exe
/charmony.h
/lib/Clownfish.c
/lib/Clownfish.xs
/libcfish.*
/ppport.h
/typemap
